#road {
    width: 100%;
    height: 150px;
    border: 2px solid #333;
    position: relative;
    overflow: hidden;
    margin-top: 20px;
}

#car {
    font-size: 50px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}
